*.pyc
beers.zip
newbeercellar/static/js/src/gen/.module-cache/
newbeercellar/static/js/lib
newbeercellar/static/.webassets-cache/
newbeercellar/static/gen/
newbeercellar/static/src/gen/
newbeercellar/settings.py
.vagrant/
.env
venv/
provisioning/host_vars/172.16.10.15