*.pyc
beers.zip
newbeercellar/static/js/src/gen/.module-cache/
newbeercellar/static/js/lib
newbeercellar/static/.webassets-cache/
newbeercellar/static/gen
newbeercellar/settings.py
.vagrant/
provisioning/settings.py.j2
.env
venv/