<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='js/lib/bootstrap/dist/css/bootstrap.css')}}">
    {% block css %}
    {% endblock %}
  </head>
  <body>
    <div class="container-fluid">
        {% block main %}
        {% endblock %}
    </div>
    {% block js %}

    {% endblock %}
  </body>
</html>
