<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    
    {% block css %}
    {% assets "css_base" %}
    <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}    
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top beercellar-header">
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="{{url_for('index')}}">Beercellar</a>
            </div>
             <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated() %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                {{current_user.username}}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{url_for('edit_profile')}}">Edit profile</a></li>
                                <li class="divider"></li>
                                <li><a href="{{url_for('logout')}}">Log out</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{url_for('login')}}">Log in</a></li>
                    {% endif %}
                </ul>
             </div>
        </div>
    </nav>
    {% block main %}
    {% endblock %}
    
    {% block js %}
    {% assets "js_base" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% endblock %}
  </body>
</html>
    