{% extends "base.html" %}

    {% block title %}Beercellar - {{cellar_name}}{% endblock %}

    {% block css %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='js/lib/bootstrap-datepicker/css/datepicker3.css')}}">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/table.css')}}">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/clear-btn.css')}}">
    {% endblock %}

    {% block main %}
        {{ super() }}
        <div class="container-fluid">
            <h1>{{cellar_name}}</h1>
            <div id="beer_table"></div>
        </div>
    {% endblock %}

    {% block js %}
        {{ super() }}
        {% assets "js_cellar" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        <script type="text/javascript">
            (function () {
                'use strict';
                var bottles = {{bottles | safe}};
                Cellar.createList(1, bottles);
            }());
        </script>
    {% endblock %}
  </body>
</html>
