{% extends "base.html" %}

    {% block title %}Beercellar - {{cellar_name}}{% endblock %}

    {% block css %}
    {% assets "css_cellar" %}
    <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {% endblock %}

    {% block main %}
        {{ super() }}
        <div class="container-fluid">
            {% if is_owner %}
            <h1 class="edit-header">
                <a title="Edit cellar" href="{{url_for('edit_cellar', cellar_id=cellar_id, username=current_user.username)}}">
                {{cellar_name}} 
                    <small>
                        <span class="edit-btn glyphicon glyphicon-edit"></span>
                    </small>
                </a>
            </h1>
            {% else %}
            <h1>
                {{cellar_name}}
                {% if not is_owner %}
                <small> ({{username}})</small>
                {% endif %}
            </h1>
            {% endif %}
            <div id="beer_table"></div>
        </div>
    {% endblock %}

    {% block js %}
        {% assets "js_cellar" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        <script type="text/javascript">
            (function () {
                'use strict';
                var bottles = {{ bottles | safe }};
                var is_owner = {{ 'true' if is_owner else 'false' }};
                Cellar.createList({{ cellar_id }}, bottles, is_owner);
            }());
        </script>
    {% endblock %}
  </body>
</html>
