{% extends "base.html" %}

    {% block title %}Beercellar - {{cellar_name}}{% endblock %}

    {% block css %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='js/lib/bootstrap-datepicker/css/datepicker3.css')}}">
    <style type="text/css">
        .td-20 {
            width: 20%;
        }
        .td-10 {
            width: 10%;
        }
        .td-5 {
            width: 5%;
        }
    </style>
    {% endblock %}

    {% block main %}
        {{ super() }}
        <h1>{{cellar_name}}</h1>
        <div id="beer_table"></div>        
    {% endblock %}

    {% block js %}
        {{ super() }}
        <script type="text/javascript" src="{{url_for('static', filename='js/lib/bootstrap-datepicker/js/bootstrap-datepicker.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/src/Util.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/src/gen/Autocomplete.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/src/gen/BottleList.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/src/gen/BottleCreator.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/src/gen/TableHeader.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/src/gen/CellarApp.js')}}"></script>

        <script type="text/javascript">
            (function () {
                'use strict';
                var bottles = {{bottles | safe}};
                Cellar.createList(1, bottles); 
            }());     
        </script>
    {% endblock %}
  </body>
</html>
