<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='js/lib/bootstrap/dist/css/bootstrap.css')}}">
  </head>
  <body>
    <div class="container-fluid">

      <div id="beer_table"></div>
        
        <!--
        <tr>
          <td>
            <input type="text" class="form-control" id="brewery" placeholder="Search for brewery">
          </td>
          <td>
            <input type="text" class="form-control" id="beer" placeholder="Search for beer">
            <ul id="results"></ul>
          </td>
          <td>
            <input type="text" class="form-control" id="batchno"/>
          </td>
          <td>
            <input type="date" class="form-control" id="brewdate"/>
          </td>
          <td>
            <input type="date" class="form-control" id="best before"/>
          </td>
        </tr>
        -->
      </table>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='js/lib/jquery/dist/jquery.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/lib/underscore/underscore-min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/lib/react/react.js')}}"></script>

    <script type="text/javascript" src="{{url_for('static', filename='js/src/beerList.js')}}"></script>

    <script type="text/javascript">

    /*
     var beers = [
         {
             "breweryName": "Nøgne Ø",
             "beerName": "Nøgne Ø God Jul",
             "beerId": 59582,
             "batchNo": 884,
             "brewDate": "2012-11-08",
             "bbfDate": "2016-11-08",
             "size": 50,
             "amount": 1,
             "comment": "Står på soverommet"
         },
         {
             "breweryName": "Klostergården",
             "beerName": "Alstadberger",
             "beerId": 59583,
             "batchNo": 202,
             "size": 50,
             "amount": 1
         }
     ];
     */
     var bottles = {{bottles | safe}};

     createList(bottles);

     /*
     function addBeer(beer) {
         var ok = confirm('add ' + beer.name + '?');
         if (ok) {
             console.log(beer.id);
         }
     }
     
     function showResults(results) {
         var res = _.map(results, function (beer) {
             var li = $('<li>' + beer.name +  '</li>');
             li.on('click', function() {
                 addBeer(beer);
             });
             
             return li;
         });
         $('#results').html(res);
     }

     $('#beer').on('keyup', function () {
         var name = $('#beer').val();
         if (name === '' || name.length < 2) {
             showResults([]);
             return;
         }
         $.ajax({
             url: '/search',
             data: {q: name},
             success: showResults,
             dataType: 'json'
         });
     });
*/
    </script>
  </body>
</html>
