span.clear-btn {
    cursor: pointer;
}

div.filtersearch > .right {
    position: absolute;
    right: 8px;
    top: 10px;
}

div.filtersearch > .left {
    position: absolute;
    left: 8px;
    top: 10px;
}

div.filtersearch {
    position:relative;
}

input.filtersearch {
    background-color: transparent;
    border: 0px solid;
    height: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

input.filtersearch:focus {
  outline-color: transparent;
  outline-style: none;
}
