.td-20 {
    min-width: 50px;
}

.td-17 {
    min-width: 50px;
}

.td-10 {
    min-width: 30px;
}

.td-3 {
    width: 50px;
}

.td-5 {
    min-width: 30px;
}

.borderless tbody tr td, .borderless thead tr th {
    border-top: none;
}

.table-tool {
    margin-right: 4px;
    color: #333;
}